*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
/*body bkg color*/

body{
    
   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
   
}


/*defined bkg header color*/

header{
    padding: auto;
    margin-top: 30px;
    text-align: center;
       
    }


/*menu css settings*/
/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 760px;
	
    
}
.navigation {
	list-style: none;
	padding:0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
    font-family:'Poppins', sans-serif;;
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: rgb(255, 255, 255);
    background: rgba(255, 168, 6);
	font-weight: 600;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
    
}

.navigation a.ham::before {
	content: " ";
}

.navigation a:hover {
	color: white;
	background-color: rgba(255, 168, 6, 0.8);
}


.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
    
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}
nav {
	margin: 0 auto;
	max-width: 760px;
	
    
}


/*logo link position*/

.logo a{
    
    width: 300px;
    display: flex;
    margin:auto;
    height: 80px;
    text-indent: -999999999999px; /*sent text away of the screen*/
    background-image: url("/lesson3/Assets-Lesson3/logo-weather-black.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    position: relative;
    top: -20px;
    
}



.terms{
    color: white;
      
}

/***********MAIN section********/









/**********FOOTER************/

footer{
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
    background:#0d1226;
    text-align: center;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

footer img{
display: flex;
margin: 0 auto;
padding-top: 10px;
padding-bottom: 20px;
width: 350px;
    
}

.social-media img{
    display: inline-flex;
    
    margin: 0 auto;
    width: 50px;
    padding: 2px;
    margin-top:10px ;
    
    }

.social-media img{
    border-radius: 12px;
}

.social-media  img:hover{

    background: #f88d00;
}



.contact-info{
    display: flex;
    flex-direction: column;
    
}

.contact-info a{
    color: #f88d00;
    
    padding: 3px;
    padding-bottom: 15px;
    text-decoration-line: none;
}

.contact-info a:hover{
    
    text-decoration: none;
    color: white;
}

.contact-info p{
    padding-bottom: 5px;
}

.info{
    color: white;
}


.navigation-footer a{
    
    text-decoration: none;
    color: rgb(247, 133, 3);
    padding-bottom: 5px;
}

.navigation-footer a:hover{
    
    
    color: white;
  
}

.navigation-footer li{
    display: inline-block;
    padding: 5px;
    
    text-decoration: none;
    list-style: none;
}


.navigation-footer a{
    
    text-decoration: none;
    color: rgb(247, 133, 3);
    padding-bottom: 5px;
}

.navigation-footer a:hover{
    
    
    color: white;
  
}

.navigation-footer li{
    display: inline-block;
    padding: 5px;
    
    text-decoration: none;
    list-style: none;
}


.navigation-footer a{
    
    text-decoration: none;
    color: rgb(247, 133, 3);
    padding-bottom: 5px;
}

.navigation-footer a:hover{
    
    
    color: white;
  
}

.navigation-footer li{
    display: inline-block;
    padding: 5px;
    
    text-decoration: none;
    list-style: none;
}
